.screen .top-content .button{
    background-color: white !important;
    border-radius: 0px !important;
}
.screen .top-content .button.highlight, .pos .control-button.highlight, .pos .button.highlight{
    background-color: #435c92 !important;
}
.paymentmethods .button{
    background: white !important;
    color: black !important;
    margin-top: 5px;
     border-radius: 0px !important;

}
.pos .paymentline{
    background: #8496bf !important;
    color: white !important;
     border-radius: 0px !important;
     margin-top: 5px;
}
.paymentline.selected {
    background: #435c92 !important;
    color: white;
     margin-top: 5px;
     border-radius: 0px !important;
}
.payment-screen .payment-buttons .button{
     border-radius: 0px !important;
}