.pos .pos-rightheader > *{
    border-right:1px solid #435c92 !important;
}
.pos .pos-topheader{
    background:#435c92 !important;
}
.pos .login-overlay{
    background: linear-gradient(to right bottom, #77717e, #4f6299) !important;
}
.pos .screen-login{
    border-radius: 10px !important;
}
.pos .login-button {
    color: #000 !important;
    border-radius: 10px !important;

}
.pos .pane-border{
    border-right: 3px solid #435c92 !important;
}
/*popups*/
.pos .modal-dialog .popup{
    border-radius: 10px !important;
}
.pos .popup .title{
    border-radius: 10px !important;
}
.pos .popup .button{
    border-radius: 10px !important;
    color: black;
}
.pos .popup-numpad .input-button, .pos .popup-numpad .mode-button{
    border-radius: 10px !important;
}
.pos .popup input, .pos .popup-input{
    border-radius:10px !important;
}
/*products*/
.pos .product .price-tag{
    border-radius:10px !important;
    background: #435c92 !important;
}
.pos .product .product-info-button{
    border-radius:10px !important;
    background: #435c92 !important;
}
.pos .product{
    border-radius: 10px !important;
}
/*search product*/
.search-bar-portal .search-box .database-icon{
    color:#435c92 !important;
}
.search-bar-portal .search-box .icon{
    color:#435c92 !important;
}
.search-bar-portal .search-box .clear-icon{
     color:#435c92 !important;
}

/*.pos .subpads .control-button {
    -webkit-flex-grow: 1;
    flex-grow: 1;

    background: #e2e2e2;
    border: 1px solid ##bfbfbf;
    display: inline-block;
    line-height: 38px;
    padding: 10px !important;
    text-align: center;
    *//*border-radius: 0px !important;*//*
    font-size: 18px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
}*/
/*.pos .subpads .control-button:hover{
    background-color: #eee;
}*/
.pos .numpad{
    width:100% !important;
}
.pos .numpad button{
    width:14.2% !important;
    height: 100px !important;
    transition: none !important;
}
.pos .numpad .button-theme{
    background: #aee1ff;
}
.pos .numpad .button{
    font-size: 17px;
}
.pos .mode-button.selected-mode{
    background:#46cb88 !important;
}
.pos .subpads .control-buttons{
    margin-bottom: 0px !important;
    padding:10px !important;
    margin-top: -4.7vw;
}
.pos .rightpane{
    width:775px !important;
}
.pos .leftpane{
    max-width: 575px !important;
}
.pos .control-buttons-main{
    text-align: center;
    width: 434px;
    margin: 16px;
    display: table;
    margin-top: -57px;
    margin-left: 0px;
    border: none;
    border-radius: 10px;
    border-top: 1px solid;
    border-color: #bfbfbf;
    border-top-right-radius: 4px;
    min-width: 216px;
}
.pos .control-buttons-main button{
    float: left;
    height: 100px;
    width: 138px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
}
.pos .control-buttons-main button:hover{
    background-color:#f0eeee;
}
.pos .actionpadnew{
    padding:6px;
    display: -webkit-flex;
    display: flex;
    background-color: #f0eeee;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: -6px;
}

.pos .actionpadnew button {
    flex-grow: 1;
    min-width: 10%;
    background: #fff;
    border: 0px solid #bfbfbf;
    display: inline-block;
    /* line-height: 38px; */
    padding: 10px !important;
    text-align: center;
    border-radius: 10px;
    color: #435c92;
    font-size: 18px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
}
.pos .actionpadnew button:hover{
    background-color:#eee;
}
.pos .actionpadnew .button-input{
    padding:0px !important;
    background:none !important;
    border: 0px solid !important;
}
.pos .actionpadnew .button-input input{
    width: 96%;
    height: 100%;
    border:none;
    font-size:17px;
    padding: 0px 6px;
}
.pos .actionpadnew .button-input input:focus{
    border:none;
    outline:none;
}

.pos .total_section {

    width: 575px;
    position:fixed;
    bottom:0;

}
.pos .total_section button{
    float: left;
    height: 80px;
    width: 115px;
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
    color: #555555;
    border-radius: 10px;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
}
.pos .order .active-programs {
    padding-top: 0px !important;
    font-weight: normal;
    font-size: 80%;
    text-align: unset;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
/*.pos .orderlines{
    overflow-y:scroll;
}*/
.pos .order{
    max-width:100% !important;
    height:98%;
    padding-top:0px !important;
}
.fixTableHead {
      overflow-y: auto;
      height: 84%;
      transition: all linear 150ms;
}
.pos .fixTableHead thead th {
      position: sticky;
      top: 0;
      transition: all linear 150ms;
      border: 1px solid black;
}
.pos .fixTableHead table {
      border-collapse: collapse;
      width: 100%;
      transition: all linear 150ms;
}
.pos .fixTableHead th, .pos .fixTableHead td {
      padding: 5px 7px;
      border: 1px solid black;
      transition: all linear 150ms;
}
.pos .fixTableHead th {
    border: 1px solid black;
  background: #e2e2e2;
  transition: all linear 150ms;
}

.pos .category-list.simple {
    padding: 0px;
    background: #cecece;
    display: flex;
    /* flex: 1; */
    width: 613px;
    overflow-x: scroll;
}
.pos .category-simple-button{
    min-width: 85px;
}
.search-bar-portal .search-box input{
    width: 150px;
    border-radius: 10px !important;
}
.search-bar-portal, .search-bar-portal .search-box{
    flex: 0 !important;

}
/*.ProductInfoEditPopup input{
    width:50% !important;
}*/
.ProductInfoEditPopup{
    width:100%;
}