.pos .pos-rightheader > *{
    border-right:1px solid #435c92 !important;
}
.pos .pos-topheader{
    background:#435c92 !important;
}
.pos .login-overlay{
    background: linear-gradient(to right bottom, #77717e, #4f6299) !important;
}
.pos .screen-login{
    border-radius: 0px !important;
}
.pos .login-button {
    color: #000 !important;
    border-radius: 0px !important;

}
.pos .pane-border{
    border-right: 3px solid #435c92 !important;
}
/*popups*/
.pos .modal-dialog .popup{
    border-radius: 0px !important;
}
.pos .popup .title{
    border-radius: 0px !important;
}
.pos .popup .button{
    border-radius: 0px !important;
    color: black;
}
.pos .popup-numpad .input-button, .pos .popup-numpad .mode-button{
    border-radius: 0px !important;
}
.pos .popup input, .pos .popup-input{
    border-radius:0px !important;
}
/*products*/
.pos .product-screen .product .price-tag{
    border-radius:0px !important;
    background: #435c92 !important;
}
.pos .product-screen .product .product-info-button{
    border-radius:0px !important;
    background: #435c92 !important;
}
.pos .product-screen .product{
    border-radius: 0px !important;
    margin-top: 4px;
    margin-left: 4px;
}
.cash-move .input-amount .input-type{
    border-radius: 0px !important;
}
.pos textarea{
    border-radius: 0px !important;
}
/*search product*/
.search-bar-portal .search-box .database-icon{
    color:#435c92 !important;
}
.search-bar-portal .search-box .icon{
    color:#435c92 !important;
}
.search-bar-portal .search-box .clear-icon{
     color:#435c92 !important;
}

/*.pos .subpads .control-button {
    -webkit-flex-grow: 1;
    flex-grow: 1;

    background: #e2e2e2;
    border: 1px solid ##bfbfbf;
    display: inline-block;
    line-height: 38px;
    padding: 10px !important;
    text-align: center;
    *//*border-radius: 0px !important;*//*
    font-size: 18px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
}*/
/*.pos .subpads .control-button:hover{
    background-color: #eee;
}*/
.pos .product-screen .numpad{
    width:100% !important;
}
.pos .product-screen .numpad button{
    width:14.2% !important;
    height: 100px !important;
    transition: none !important;
}
.pos .product-screen .numpad .button-theme{
    background: #aee1ff;

}
.pos .product-screen .numpad .button-theme .icon-wrap,.pos .product-screen .numpad .button-extra-theme .icon-wrap{
    display: inline-flex;
    position: relative;
    text-align: center;
}
.pos .product-screen .numpad .button-theme .icon-wrap span, .pos .product-screen .numpad .button-extra-theme .icon-wrap span{
    margin-left: 8px;
}
.pos .product-screen .numpad .button{
    font-size: 17px;
}
.pos .product-screen .numpad .button:hover{
    background: #fff !important;
    z-index: 10;
}
.pos .product-screen .mode-button.selected-mode{
    background:#46cb88 !important;
}
.pos .product-screen .subpads .control-buttons{
    margin-bottom: 0px !important;
    padding:10px !important;
    margin-top: -4.7vw;
}
.pos .product-screen .rightpane{
    width:700px !important;
}
.pos .product-screen .leftpane{
    max-width: 650px !important;
}
.pos .product-screen .control-buttons-main{
    text-align: center;
    width: 434px;
    margin: 16px;
    display: table;
    margin-top: -57px;
    margin-left: 0px;
    border: none;
    border-radius: 0px;
    border-top: 1px solid;
    border-color: #bfbfbf;
    border-top-right-radius: 4px;
    min-width: 216px;
}
.pos .product-screen .control-buttons-main button{
    float: left;
    height: 100px;
    width: 138px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 0px;
    font-size: 17px;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
}
.pos .product-screen .control-buttons-main button:hover{
    background-color:#f0eeee;
}
.pos .product-screen .actionpadnew{
    padding:6px;
    display: -webkit-flex;
    display: flex;
    background-color: #d3d3d3;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: -13px;
}
.pos .ActionPadNew{
    padding-bottom: 7px;
}

.pos .product-screen .actionpadnew button {
    flex-grow: 1;
    min-width: 10%;
    background: #fff;
    border: 0px solid #bfbfbf;
    display: inline-block;
    /* line-height: 38px; */
    padding: 10px !important;
    text-align: center;
    border-radius: 0px;
    color: #435c92;
    font-size: 18px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
}
.pos .product-screen .actionpadnew button:hover{
    background-color:#eee;
}
.pos .product-screen .actionpadnew .button-input{
    padding:0px !important;
    background:none !important;
    border: 0px solid !important;
}
.pos .product-screen .actionpadnew .button-input input{
    width: 96%;
    height: 100%;
    border:none;
    font-size:17px;
    padding: 0px 6px;
}
.pos .product-screen .actionpadnew .button-input input:focus{
    border:none;
    outline:none;
}

.pos .product-screen .total_section {

    width: 650px;
    position:fixed;
    bottom:0;

}
.pos .product-list-container{
    background: lightgrey;
}
.pos .product-screen .total_section button{
    float: left;
    height: 80px;
    width: 130px;
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
    color: black;
    border-radius: 0px;
    background: #d3d3d3;
    border: none;
    border-right: 1px solid #8496bf !important;
    border-bottom: 0px solid;
    border-color: #bfbfbf;
}
.pos .product-screen .order .active-programs {
    padding-top: 0px !important;
    font-weight: normal;
    font-size: 80%;
    text-align: unset;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
/*.pos .orderlines{
    overflow-y:scroll;
}*/
.pos .product-screen .order{
    max-width:100% !important;
    height:98.5%;
    padding-top:0px !important;
}
.fixTableHead {
      overflow-y: auto;
      height: 84%;
      transition: all linear 150ms;
}
.pos .product-screen .fixTableHead thead th {
      position: sticky;
      top: 0;
      background:#435c92;
      color:white;
      transition: all linear 150ms;
      border: 1px solid black;
}
.pos .product-screen .fixTableHead table {
      border-collapse: collapse;
      width: 100%;
      transition: all linear 150ms;
}
.pos .product-screen .fixTableHead th, .pos .fixTableHead td {
      padding: 5px 7px;
      border: 1px solid black;
      transition: all linear 150ms;
}
.pos .product-screen .fixTableHead th {
    border: 1px solid black;
  background: #e2e2e2;
  transition: all linear 150ms;
}

.pos .product-screen .category-list.simple {
    display: flex;
    width: 613px;
    overflow-x: scroll;
}
.pos .product-screen .category-simple-button{
    min-width: 85px;
}
.search-bar-portal .search-box input{
    width: 150px;
    border-radius: 0px !important;
}
.search-bar-portal, .search-bar-portal .search-box{
    flex: 0 !important;

}
/*.ProductInfoEditPopup input{
    width:50% !important;
}*/
.ProductInfoEditPopup{
    width:100%;
}
.ticket-button:hover ,.cash-move-button:hover,.oe_status:hover, .header-button:hover{
    background: #8496bf !important;
}
.ticket-button{
    margin-left: 20px ;
}
.pos .pos-branding{
    justify-content: flex-start !important;
}

.product_custom_popup_new{
    position: absolute;
    background: white;
    width: 634px;
    z-index: 1;
    max-height: 401px;
    margin-top: 44px;
    border-radius: 0px;
    padding: 5px;
    display:none;
    overflow-y:scroll;
    border:1px solid;
}
.product_custom_popup_new table{
    width:100%;
}
.product_custom_popup_new table th,.product_custom_popup_new table td{
    padding-top: 11px;
    padding-bottom: 10px;
    border: 1px solid black;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}
.product_custom_popup_new table th{
    background:#435c92;
    color: white;
}
.product_custom_popup_new table tr:hover{
    background: #8496bf;
    color: white;
    border-radius: 0px;
}
.pos .loader{
    background:linear-gradient(to right bottom, rgb(119, 113, 126), rgb(79, 98, 153)) !important;
}