.order-management-screen .controls button{
    border-radius: 0px !important;

}
.pos .order-management-screen .control-button{
    border-radius: 0px !important;

}
.pos .order-management-screen .orders .order-row{
    margin-top: 2px;
    border-radius: 0px;
    border: 0px solid;
}
.ticket-button.highlight {
    background: #8496bf !important;
}
.ticket-button:hover {
    background: #8496bf !important;
}
.pos .orders .order-row:hover, .pos .orders .order-row.highlight{
    background-color:#8396bf !important;
}
.order-management-screen .controls button.highlight {
    background: #435c92 !important;
    border: solid 0px #64AF8A !important;
}
.pos .order-management-screen .orders .header-row{
    background: #435c92 !important;
}
.order-management-screen .pos-search-bar .search input,.order-management-screen .pos-search-bar .filter{
    border-radius: 0px;
    color: #435c92 !important;
}
.order-management-screen .pos-search-bar .search ul{
    border-radius: 0px !important;
}
.order-management-screen .pos-search-bar .search li.highlight {
    background: #8496bf !important;
    color: white !important;
}
.order-management-screen .pos-search-bar .search li{
    color: black !important;
}
.order-management-screen .pos-search-bar .search li:hover, .order-management-screen .pos-search-bar .filter ul.options li:hover{
    background: #8496bf !important;
    color: white !important;
}
.order-management-screen .pos-search-bar .filter .options{
    border-radius: 0px !important;
}
.order-management-screen .control-panel .button{
    border-radius: 0px !important;
    background:white !important;
}